.cart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 50%; 
    padding: 100px; 
}

.cart-form {
    width: 100%;
    max-width: 700px ; 
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-form h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cart-form label {
    display: block;
    margin-bottom: 5px;
}

.cart-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cart-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.cart-form button:hover {
    background-color: #0056b3;
}

.cart-details {
    width: 50%; /* Ocupa la otra mitad del ancho del contenedor */
}
