.cart-details {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cart-empty-message {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.cart-total {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    color: black;
}